/* solo contenedores (divs) */

header>#contenedor_presentacion_empresa {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.4rem;
}


#contenedor_presentacion_empresa> i {
    font-size: 3rem;
    color: #00c200fa;
}

#contenedor_presentacion_empresa>#nombre_empresa {
    font-size: 2.6rem;
    margin-left: 1.4rem;
    font-weight: 900;
    align-items: center;
}

#contenedor_opciones_cuenta>.opciones_cuenta {
    font-size: 1rem;
    margin: 0.4rem 0;
    text-align: center;
}


#form_login>#contenedor_formas_logis {
    display: flex;
    justify-content: center;
    margin: 0.8rem 0;
}


/* solo fuentes h, p */

h2 {
    text-align: center;
    margin-top: 1.4rem;
    font-size: 1.8rem;
}

.fuente_fondo_blanco {
    color: #000000;
}

p,
a {
    text-align: left;
    margin: 0.8rem 0;
    font-size: 1rem;
}

label {
    font-size: 0.9rem;
}